<nav>
    <div id="bhome" class="bottombar-item">
        <!--a href="#find"><img src="find.png" height="25" width="25"/></a-->
        <a href="index.html">Home</a>
    </div>
    <div class="bottombar-item">
        <a href="meal.html">Meal</a>
    </div>
    <div class="bottombar-item">
        <a href="plan.html">Plan</a>
    </div>
    <div class="bottombar-item">
        <a href="info.html">Info</a>
    </div>
    <div class="bottombar-item">
        <a href="note.html">Note</a>
    </div>

    <div class="bottombar-item">
        <a href="setting.html">Setting</a>
    </div>
</nav>

<style>
    nav {
        position: fixed;
        bottom:0;
        z-index:2;
        display:flex;
        justify-content: space-around;
        background-color:white;
        width:100vw;
        height: 49px;
        border-top: solid;
        border-width: 0.5px;
        border-color:rgb(162,162,162);
        /*background-color: rgb(249,249,249); */
    }

    nav a{
        margin:0;
        padding-top: 0.6em;
        font-size:1.3em;
        font: -apple-system-footnote;
        color:rgb(124,120,115);
        /*! line-height:49px; */
        text-decoration: none;
        vertical-align: bottom;
        display: block;
    }

    .bottombar-item{
        text-align: center;
    }

    .bottombar-item img{
        position:relative;
        top:2px;
    }
</style>